<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811761384480-aa0dfs3om6s9ddgj8n2a7jr9a5gc68ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811761384480-aa0dfs3om6s9ddgj8n2a7jr9a5gc68ia</string>
	<key>API_KEY</key>
	<string>AIzaSyClYFgMFTABEMnGtvvOKtNn6x-ud9K9s04</string>
	<key>GCM_SENDER_ID</key>
	<string>811761384480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.byunghak.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-96e06</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-96e06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811761384480:ios:c058a789dac30a69951045</string>
</dict>
</plist>